# Folders/files that should be ignored when pushing to GitHub. 
# This includes any large files, sensitive information, or files that are not relevant to the project.
# Only include the cache files that are necessary for the pipeline to run, and ignore the rest of the data files.
data/*
!data/cache/
data/cache/*
!data/cache/user_dashboard.parquet
!data/cache/user_matches.parquet
!data/cache/user_narratives.parquet
!data/cache/event_suggestions.parquet

venv/
__pycache__/
.env